#header{
    width: 100%;
    height: 200px;
    position: relative;
    display: block;
    background: #2f4480;
}

#container{
    width: 100%;
    display: block;
    position: relative;
    min-height: 300px;
    height: calc(100% - 200px);
    background: #608484;
    padding-top: 20px;
}

.button{
    width: 45px;
    height: 24px;
    border: 2px solid #abb749;
    background: #fff;
    text-align: center;
    vertical-align: middle;
    color: #6fa50e;
    margin-right: 30px;
    border-radius: 10px;
    cursor: pointer;
}

#button_container{
    float: right;
    top: 30px;
    right: 30px;
    position: relative;
}

.article_content{
    width: 60%;
    position: relative;
    display: table;
    margin-top: 10px;
    min-height: 200px;
    border: 1px #000 solid;
    right: 0px;
    left: 0px;
    margin: 20px auto;
    background: #fff;
    box-shadow: 6px 6px 10px;
    border-radius: 30px;
}

.title{
    width: 100%;
    position: relative;
    text-align: center;
    font-size: 14pt;
    font-weight: bold;
    font-size: 20pt;
    font-family: cursive;
}

.desc{
    width: 80%;
    position: relative;
    display: table;
    margin: auto;

}

.desc img{
    width: 80%;
    position: relative;
    margin: 0px auto;
    display: table;
}

.pub{
    float: right;
    margin-right: 25px;
    margin-bottom: 10px;
    font-style: italic;
    font-weight: bold;
    font-family: monospace;
}